/* Titel h1 #2E2F42 */
/* параграфи p #434455 */
/* White #FFFFFF */
/* Buttons #4D5AE5 */
/* Success 1GREEN #31D0AA */
/* Subtle Text #8E8F99 */
/* Accent 1cornflower #E7E9FC */
/* Light 1CLOUD #F4F4FD */
/* Hero background 1GREY #2E2F42 */

:root {
  --title-text-color: #2e2f42;
  --paragraph-text-color: #434455;
  --botton-text-color: #4d5ae5;
  --bgc-white-color: #ffffff;
}

body {
  background-color: var(--bgc-white-color);
  color: var(--paragraph-text-color);
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 16px;
  line-height: 0.7;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* лого webstudio */

.web {
  color: var(--botton-text-color);
  font-size: 18px;
  line-height: 0.7;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}
.studio {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 0.7;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

    /* меню навігації */

.menu-nav {
  font-weight: 500px;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  color: var(--title-text-color);
}
.menu-nav .studios,
.portfolio,
.contacts {
  color: var(--title-text-color);
}

.studios:hover,
.studios:focus {
  color: var(--botton-text-color);
}
.portfolio:hover,
.portfolio:focus {
  color: var(--botton-text-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--botton-text-color);
}

.address {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--paragraph-text-color);
}

.address .link:hover,
.address .phone:focus {
  color: var(--botton-text-color);
}
.address .phone:hover,
.address .link:focus {
  color: var(--botton-text-color);
}
.address .link,
.phone {
  color: var(--paragraph-text-color);
}

    /* герой титул */

.hero {
  background-color: var(--title-text-color);
}
.hero-title {
  color: var(--bgc-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  width: 494px;
}
.hero-button {
  width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  background: var(--botton-text-color);
}
.hero-button:hover {
  color: var(--botton-text-color);
}
.button-text {
  color: var(--bgc-white-color);
  font-size: 16px;
  line-height: 24px;
}
/* секція категорій */

.priorities-title {
  font-size: 20px;
  line-height: 0.8;
  color: var(--title-text-color);
}

/* ворк тітул */

.work-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  left: 559px;
  top: 1016px;
  color: var(--title-text-color);
}

/* team */

.team {
  left: 639px;
  top: 1668px;
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
  color: var(--title-text-color);
}

.team-name {
  font-size: 20px;
  line-height: 1;
  color: #2e2f42;
}

/* PORTFOLIO */

.portfolio-buttons {
  left: 427px;
  top: 168px;
  display: flex;
  padding: 0px;
  gap: 24px;
}
.filter-button {
  background: #f4f4fd;
}
.all-btn {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  color: var(--bgc-white-color);
}
.web-site-btn {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  color: var(--botton-text-color);
}
.app-btn {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  color: var(--botton-text-color);
}
.design-btn {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  color: var(--botton-text-color);
}
.marketing-btn {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  color: var(--botton-text-color);
}

.to-all-device-box-1 {
  left: 156px;
  top: 288px;
}
.to-all-device-box-2 {
  left: 540px;
  top: 288px;
}
.to-all-device-box-3 {
  left: 924px;
  top: 288px;
}
.to-all-device-box-4 {
  left: 156px;
  top: 756px;
}
.to-all-device-box-5 {
  left: 540px;
  top: 756px;
}
.to-all-device-box-6 {
  left: 924px;
  top: 756px;
}
.to-all-device-box-7 {
  left: 156px;
  top: 1224px;
}
.to-all-device-box-8 {
  left: 540px;
  top: 1224px;
}
.to-all-device-box-9 {
  left: 924px;
  top: 1224px;
}
.to-all-device-title {
  font-size: 20px;
  line-height: 1;
  color: var(--title-text-color);
}

/* Footer */

.footer-box {
  background-color: var(--title-text-color);
}
.footer-text {
  font-size: 16px;
  line-height: 0.7;
  color: #e7e9fc;
}
